%% -*- erlang -*-
%% Config file for nmea_0183 application
{deps,
 [
  {uart, ".*", {git, "https://github.com/tonyrog/uart.git"}},
  {lager, "3.2.2", {git, "https://github.com/tonyrog/lager.git", 
		    {tag, "3.2.2"}}},
  {elarm, "0.3.0", {git, "https://github.com/tonyrog/elarm.git", 
		    {tag, "0.3.0"}}}
 ]}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
