%% -*- erlang -*-
%% Config file for nmea_0183 application
{deps,
 [
  {uart, ".*", {git, "https://github.com/tonyrog/uart.git"}},
  {lager, ".*", {git, "https://github.com/tonyrog/lager.git"}},
  {elarm, ".*", {git, "https://github.com/tonyrog/elarm.git"}}
 ]}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
